.footer-menu {
    margin: 0 auto;
    box-sizing: border-box;
    width: 64rem;
    background-color: var(--bg-footer-menu);
    font-family: 'Pathway Gothic One';
    padding: 2.8125rem 3.75rem 3rem 3.75rem;
}

.footer-menu ul {
    display: flex;
    justify-content: space-between;
    width: 43.75rem;
    margin: 0 auto;
}

.footer-menu li {
    list-style-type: none;
}

.footer-menu a {
    display: block;
    text-decoration: none;
    color: var(--color-footer-menu);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-menu h3 {
    color: var(--color-footer-menu);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-menu h4, .footer-menu p {
    color: var(--color-footer-menu);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.footer-menu h4 {
    text-transform: uppercase;
}



/*************FOOTER_LINKS***********/

.footer-links {
    margin: 0 auto;
    box-sizing: border-box;
    width: 64rem;
}

.social-links {
   text-align: center;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}

.twitter-link, .facebook-link, .google-link, .in-link {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
}
.twitter-link {
    background:url('../img/social-links/css-sprite-combined.png.png') -120px -0px;
    width:40px;height:40px;
    margin-right: 0.5rem;
}

.facebook-link {
    background:url('../img/social-links/css-sprite-combined.png.png') 0px -0px;
    width:40px;height:40px;
    margin-right: 0.5rem;
}

.google-link {
    background:url('../img/social-links/css-sprite-combined.png.png') -40px -0px;
    width:40px;height:40px;
    margin-right: 0.5rem;
}

.in-link {
    background:url('../img/social-links/css-sprite-combined.png.png') -80px -0px;
    width:40px;height:40px;
}

.footer-links .links {
    text-align: center;
    padding-bottom: 1.5rem;
}

.footer-links .links li {
    list-style-type: none;
    color: var(--main-white-color);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    display: inline-block;
    border-right: 1px solid var(--main-white-color);
    padding-right: 0.3rem;
}

.footer-links .links li:last-child {
    border-right: none;
    padding-right: 0;
}

