:root {
    --main-white-color: #fff;
    --light-gray-color:  #b0b5c0;
    --main-gray-color:  #263555;
    --bg-footer-menu: #30455b;
    --color-footer-menu: #e3e6e9;
    --color-blue-arrow: #38afe5;

  }
  