.services {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.services h3 {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.services h5 {
    font-family: 'Crimson Text';
    font-size: 1rem;
    color: var(--gray-color);
    margin-bottom: 5rem;
}

.services-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-links li {
    text-align: center;
    flex-basis: 33%;
}

.services-links img {
    width: 2.5rem;
    height: 2.5rem;
}

.services-links .img-link {
    display: inline-block;
    border: 3px solid var( --yellow-color);
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 1.5rem;
}

.services-links .img-link:hover {
    background: var(--gray-color);
}


.services-links h4 {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.services-links p {
    font-family: 'Roboto Slab';
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--gray-color);
}