* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EFFBF5;
}

.form {
    margin: 0 auto;
    margin-top: 50px;
    width: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 15px 5px #E6E6E6;
    background: #E0F8F7;
}

@media screen and (min-width: 960px) {
    .form {
        width: 600px;
    }
}

.form .input {
    background: #E0F8F7;
    outline: none;
    width: 120px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 3px;
    border: 3px solid red;
}

@media screen and (min-width: 960px) {
    .form .input {
        height: 40px;
    }
}


.submit {
    margin-top: 15px;
    width: 80px;
    height: 25px;
    background: #F1F8E0;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    outline: none;
}

.result {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    padding: 10px;
    background: #EFF8FB;
    margin: 5px;
}

.descr {
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}