
%Montserat-bold {
    font-family: Montserrat;
    font-weight: bold;
}

%Montserat-normal {
    font-family: Montserrat;
    font-weight: normal;
}

%KaushanScript-cursive-normal {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

%Roboto-normal {
    font-family: Roboto;
    font-weight: normal;
}

%Roboto-italic-300 {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
}
