
$white-color: #fff;
$yellow-color: #fce38a;
$gray-color: #666;
$dark-gray-color: #333;
$light-gray-color: #a6a6a6;
$footer-graay-color: #e5e5e5;
$green-color: #95e1d3;
$gradient-pink-color: rgba(243, 129, 129, 0.9);
$gradient-yellow-color: rgba(252, 227, 138, 0.9);
$icon-red-color: #f38181;
$light-pink-color: #f6a1a1;