 <div class="card">
        <p class="descr">Title: {{title}}</p>
        <p class="descr">Description: {{description}}</p>
        <p class="descrUrl">Url: {{url}}</p>
        <img class="img" src="{{img}}" alt="" width="200"> 
        <button class="cardButton js-delete">Delete</button>
    </div>
