/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 2, ../sass/_placeholder.scss */
.btn, .welcome .welcome__title, .logo__name, span.head-section__title, .form__submit {
  font-family: Montserrat;
  font-weight: bold;
}

/* line 7, ../sass/_placeholder.scss */
.nav__item, .service__title, .card__name, .footer__discr {
  font-family: Montserrat;
  font-weight: normal;
}

/* line 12, ../sass/_placeholder.scss */
.welcome .welcome__discr, .head-section__discr {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}

/* line 17, ../sass/_placeholder.scss */
.service__discr, .team__discr {
  font-family: Roboto;
  font-weight: normal;
}

/* line 22, ../sass/_placeholder.scss */
.card__prof, .form__text {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
}

/***********BASE************/
/* line 13, ../sass/ie.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/ie.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 25, ../sass/ie.scss */
li {
  list-style-type: none;
}

/* line 29, ../sass/ie.scss */
.btn {
  text-transform: uppercase;
  font-size: 0.875rem;
  height: 2.5rem;
  padding: 0.625rem 2rem;
}

/***********BACKGROUND**********/
/* line 39, ../sass/ie.scss */
.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), url(../img/background.png) center no-repeat;
  background: -webkit-linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../img/background.png) center no-repeat;
  background: -o-linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../img/background.png) center no-repeat;
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../img/background.png) center no-repeat;
  min-height: 100vh;
  color: #fff;
  background-size: cover;
}

/* line 49, ../sass/ie.scss */
.welcome {
  margin-bottom: 14.375rem;
}

/* line 53, ../sass/ie.scss */
.welcome .wrapper {
  width: 25rem;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

/* line 60, ../sass/ie.scss */
.welcome .welcome__discr {
  font-size: 2.5rem;
  color: #fff;
}

/* line 66, ../sass/ie.scss */
.welcome .welcome__title {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  margin-bottom: 7.875rem;
  color: #fff;
}

/* line 75, ../sass/ie.scss */
.btn__welcome {
  border: 2px solid #fff;
}

/* line 79, ../sass/ie.scss */
.btn__welcome--hover:hover {
  border: 2px solid #fce38a;
  color: #fce38a;
  text-decoration: none;
}

@media (min-width: 720px) {
  /* line 87, ../sass/ie.scss */
  .welcome .wrapper {
    width: 35rem;
  }

  /* line 90, ../sass/ie.scss */
  .welcome .welcome__discr {
    font-size: 3.5rem;
  }

  /* line 93, ../sass/ie.scss */
  .welcome .welcome__title {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media (min-width: 960px) {
  /* line 100, ../sass/ie.scss */
  .welcome .wrapper {
    width: 45rem;
  }

  /* line 103, ../sass/ie.scss */
  .welcome .welcome__discr {
    font-size: 4rem;
  }

  /* line 106, ../sass/ie.scss */
  .welcome .welcome__title {
    font-size: 7rem;
    line-height: 7rem;
  }
}
@media (min-width: 1200px) {
  /* line 113, ../sass/ie.scss */
  .welcome .wrapper {
    width: 51.25rem;
  }

  /* line 116, ../sass/ie.scss */
  .welcome .welcome__discr {
    font-size: 4.5rem;
  }

  /* line 119, ../sass/ie.scss */
  .welkome .welcome__title {
    font-size: 9.375rem;
    line-height: 9.5rem;
  }
}
/***********HEADER**********/
/* line 127, ../sass/ie.scss */
.head-page {
  padding-top: 1.75rem;
  margin-bottom: 8.75rem;
  margin: 0 auto;
}

@media (min-width: 760px) {
  /* line 134, ../sass/ie.scss */
  .head-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 10rem;
  }
}
/* line 146, ../sass/ie.scss */
.logo__name {
  font-size: 1.875rem;
  text-align: center;
}

/* line 152, ../sass/ie.scss */
.head-page .logo a.logo__name:hover {
  text-decoration: none;
  color: #fff;
}

/* line 157, ../sass/ie.scss */
.head-page .logo a.logo__name:focus {
  text-decoration: none;
  color: #fff;
}

/* line 162, ../sass/ie.scss */
.nav__item {
  display: block;
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-bottom: 0.625rem;
  border-bottom: 3px solid transparent;
}

@media (min-width: 720px) {
  /* line 174, ../sass/ie.scss */
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 177, ../sass/ie.scss */
  .nav__item {
    text-align: center;
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  /* line 186, ../sass/ie.scss */
  .nav__item {
    margin-right: 3.75rem;
  }
}
/* line 191, ../sass/ie.scss */
.nav__item--last-child {
  margin-right: 0;
}

/* line 195, ../sass/ie.scss */
.nav__item--hover:hover a.nav__link {
  text-decoration: none;
  color: #fce38a;
}

/* line 200, ../sass/ie.scss */
a.nav__link:hover a.nav__link {
  text-decoration: none;
  color: #fce38a;
}

/* line 205, ../sass/ie.scss */
.nav__item--hover:hover {
  border-bottom: 3px solid #fce38a;
}

/* line 209, ../sass/ie.scss */
.nav__icons {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
}

/* line 218, ../sass/ie.scss */
.nav__item--hover:hover .nav__icons {
  fill: #fce38a;
}

/**********HEAD_SECTION************/
/* line 224, ../sass/ie.scss */
.head-section {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 6.5rem;
}

/* line 230, ../sass/ie.scss */
.head-section__discr {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  position: relative;
  display: block;
}
/* line 236, ../sass/ie.scss */
.head-section__discr::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.75rem;
  border-bottom: 3px solid #f38181;
  top: 8rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 250, ../sass/ie.scss */
span.head-section__title {
  font-size: 1.875rem;
  text-transform: uppercase;
  display: block;
}

/***************AMAZING-SERVICES*********/
/* line 259, ../sass/ie.scss */
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

/* line 266, ../sass/ie.scss */
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 6.25rem;
}

/* line 271, ../sass/ie.scss */
.service__icon {
  margin-top: 0.25rem;
}

/* line 275, ../sass/ie.scss */
.service__article {
  display: inline-block;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}

/* line 281, ../sass/ie.scss */
.service__title {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #666;
}

/* line 288, ../sass/ie.scss */
.service__discr {
  font-size: 0.9375rem;
  color: #a6a6a6;
}

/* line 294, ../sass/ie.scss */
.team {
  text-align: center;
}

/* line 298, ../sass/ie.scss */
.team__discr {
  display: inline-block;
  width: 23rem;
  font-size: 0.9375rem;
  color: #a6a6a6;
  margin-bottom: 5.625rem;
}

@media (min-width: 720px) {
  /* line 308, ../sass/ie.scss */
  .team__discr {
    width: 35rem;
  }
}
@media (min-width: 960px) {
  /* line 314, ../sass/ie.scss */
  .team__discr {
    width: 50rem;
  }
}
@media (min-width: 1200px) {
  /* line 320, ../sass/ie.scss */
  .team__discr {
    width: 60rem;
  }
}
/* line 325, ../sass/ie.scss */
.team__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

/* line 332, ../sass/ie.scss */
.card__background {
  background-color: #95e1d3;
  position: relative;
  margin-bottom: 1.875rem;
}
/* line 337, ../sass/ie.scss */
.card__background:hover .card__img {
  position: relative;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
/* line 344, ../sass/ie.scss */
.card__background:hover .card__social-list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background: -webkit-linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  background: -o-linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}

/* line 355, ../sass/ie.scss */
.card__img img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 363, ../sass/ie.scss */
.card__name {
  font-size: 1rem;
  text-transform: uppercase;
  color: #666;
}

/* line 370, ../sass/ie.scss */
.card__prof {
  font-style: italic;
  font-size: 0.9375rem;
  color: #a6a6a6;
  margin-bottom: 5.625rem;
}

/* line 378, ../sass/ie.scss */
.card__img {
  position: relative;
}
/* line 381, ../sass/ie.scss */
.card__img:hover {
  position: relative;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
/* line 388, ../sass/ie.scss */
.card__img:hover .card__social-list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background: -webkit-linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  background: -o-linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}

/* line 400, ../sass/ie.scss */
.card__social-list {
  display: none;
}

/* line 404, ../sass/ie.scss */
.card__social-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/* line 411, ../sass/ie.scss */
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 423, ../sass/ie.scss */
.icons__link {
  display: inline-block;
  width: 1.625rem;
  height: 1.625rem;
  fill: #f6a1a1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 436, ../sass/ie.scss */
.icons__container {
  display: inline-block;
  width: 3.5rem;
  height: 3.75rem;
  background: #fce38a;
  border-right: 1px solid #f38181;
  position: relative;
  cursor: pointer;
}
/* line 445, ../sass/ie.scss */
.icons__container:hover {
  background: #f38181;
}
/* line 449, ../sass/ie.scss */
.icons__container:hover .icons__link {
  fill: #fff;
}

/* line 454, ../sass/ie.scss */
.icons__container:last-child {
  border-right: none;
}

/************FOOTER**********/
/* line 460, ../sass/ie.scss */
.footer__content {
  margin-bottom: 4rem;
  position: relative;
}
/* line 463, ../sass/ie.scss */
.footer__content::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  top: -0.625rem;
  left: 0;
}

/* line 474, ../sass/ie.scss */
.footer__discr {
  font-size: 0.875rem;
  color: #333;
}

/* line 480, ../sass/ie.scss */
.footer__discr--red {
  color: #f6a1a1;
}
/* line 483, ../sass/ie.scss */
.footer__discr--red:hover {
  color: #f6a1a1;
  text-decoration: none;
}

/* line 489, ../sass/ie.scss */
.form {
  /*display: inline-block;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 499, ../sass/ie.scss */
.form__text {
  margin: 0;
  width: 14.375rem;
  height: 2.5rem;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  padding-left: 0.875rem;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 512, ../sass/ie.scss */
.form__text::-webkit-input-placeholder {
  color: #e5e5e5;
}

/* line 516, ../sass/ie.scss */
.form__text::-moz-placeholder {
  color: #e5e5e5;
}

/* line 520, ../sass/ie.scss */
.form__submit {
  margin: 0;
  margin-left: -4px;
  width: 9.5rem;
  height: 2.5rem;
  border: 1px solid #95e1d3;
  background: #95e1d3;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
}

@media (min-width: 720px) {
  /* line 534, ../sass/ie.scss */
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
